body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: rgb(44, 44, 44);
  height: 3.5rem;
  padding: 1.5rem 1rem;
}
#navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  margin-left: 2rem;
  cursor: pointer;
  height: 70px;
  width: 110px;
}
#navbar a {
  color: rgb(240, 116, 116);
  font-family: inherit;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}
#searchBox {
  width: 35rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  margin-left: 2rem;
  padding: 0 1rem;
}

#btn,
#logoutbtn {
  height: 2.5rem;
  width: 6rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: rgb(243, 80, 80);
  color: #fff;
  /* margin-right: 15%; */
  cursor: pointer;
}
#btn:hover,
#logoutbtn:hover {
  transform: scale(1.05);
  border: 1px solid #cecccc;
}
#userInfo {
  position: absolute;
  top: 0;
  left: 87%;
  margin-top: 0.8%;
  color: #88b04b;
  font-family: inherit;
  font-weight: bold;
}

/* css for the Genre */
#p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(38, 47, 66);
  color: rgb(201, 195, 195);
}
#p-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  font-size: 1.2rem;
}
#p-container > div:first-child {
  padding-left: 5rem;
}

#p-container > div:last-child > p {
  margin-right: 1rem;
}
#p-container > div:first-child > p:hover,
#p-container > div:last-child > p:hover {
  color: #ebe6e6;
  cursor: pointer;
}
#parent--container {
  display: flex;
}

/* slide show  effect */

.slideshow-container {
  width: 98%;
  margin-top: 1%;
  margin-left: 1%;
  cursor: pointer;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Movie list section */
.movie {
  width: 90%;
  height: 88%;
  border-radius: 8px;
}
.movie img {
  margin: 2.5%;
  width: 94%;
  height: 68%;
}
.movie:hover {
  transform: scale(1.02);
}

.hdng {
  margin-left: 2rem;
  font-size: 2.5rem;
}
.rows {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.rows > div {
  background-color: black;
  color: #717171;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 5px;
}
.rows > div > h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.rows > div > span:nth-last-child(2) {
  margin-left: 2%;
  color: #fff;
}
.rows > div > span:last-child {
  margin-left: 68%;
  font-weight: bold;
}

/* Footer Section */

footer {
  margin-top: 2rem;
  background-color: #1f1e1e;
}

#sec_Sect {
  padding: 2%;
  color: #717171;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
#sec_Sect img {
  width: 70px;
  height: 50px;
}
#sec_Sect p {
  font-size: 18px;
}
#sec_Sect > div > p:hover {
  cursor: pointer;
  color: #d3d0d0;
}
#thrd_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 2%;
}
#thrd_sec h3 {
  color: #a1a1a1;
}
#thrd_sec p {
  color: #717171;
}
#thrd_sec p:hover {
  color: #c5c4c4;
  cursor: pointer;
}
#thrd_sec > div:first-child,
#thrd_sec > div:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#thrd_sec > div > div:last-child {
  margin-top: 19%;
}
#fourth_sec {
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
}
#fourth_sec > hr {
  background-color: #717171;
  border: none;
  height: 1px;
  width: 100%;
}
#fourth_sec > img {
  margin-left: 1rem;
  cursor: pointer;
}
#social-apps {
  text-align: center;
  padding: 2rem;
}

#social-apps > a {
  margin-left: 1rem;
  cursor: pointer;
}
#social-apps img {
  height: 50px;
  width: 50px;
}

.copy1 {
  font-size: 15px;
  text-align: center;
  color: #717171;
}
.hidden1 {
  display: none;
}

/* implementing the model window */

#movieOverview {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 450px;
  background-color: rgb(0, 0, 0);
  color: #d3d0d0;
}

#window {
  display: flex;
  gap: 15px;
  height: 600px;
  margin-top: 1.5rem;
}

#poster {
  margin: 15px 15px;
}
#poster img {
  height: 250px;
  width: 150px;
}
#poster p {
  text-align: center;
  color: #616247;
  font-weight: bold;
}

.moviedetails h2 {
  color: #009b77;
}
.moviedetails .rating {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
}
.moviedetails > p:nth-child(3),
.moviedetails > p:nth-child(4) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 15px;
}
.moviedetails > p:nth-child(5) {
  font-size: 18px;
}
#bookTicketbtn {
  border: none;
  background: linear-gradient(to bottom left, #3399ff 0%, #ff0000 100%);
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  margin-top: 10px;
}
#bookTicketbtn:hover {
  cursor: pointer;
  border: 1px solid #cecccc;
}

.overview-window {
  z-index: 1000;
  background-color: #fff;
  border-radius: 9px;
  width: 60rem;
  padding: 1rem 5rem;
  transition: all 0.5s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem #00000040;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.btn--close-modal {
  color: rgb(250, 61, 61);
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 3.5rem;
  position: absolute;
  right: 1.6rem;
}

/* checkout payment css */

.payment-main-container {
  display: flex;
  width: 70%;
  margin: 70px auto;
}

.payment-container:nth-child(1) {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  margin: -10px 0px;
}

.payment-container:nth-child(2) {
  width: 55%;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="number"],
#upi,
#expiration-date,
#cvv {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
}

#payBtn {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size: 20px;
  font-weight: 900;
}

#pay_image {
  width: 40%;
  background-color: transparent;
}

#thank {
  color: green;
  margin-bottom: 10px;
  opacity: 0;
}

#container {
  padding: 10px;
  width: 70%;
  margin: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: #ccc;
  background-color: #2e2e2e;
}

#form1 > :nth-child(3) > span {
  color: #558d2d;
  margin-left: 70%;
}
#form1 > :nth-child(5) > span {
  color: #558d2d;
  margin-left: 61%;
}
#form1 > :nth-child(7) > span {
  color: #558d2d;
  margin-left: 73%;
}
#noOfTicket {
  color: black;
  margin-left: 64%;
  width: 7%;
  height: 20px;
  border-radius: 4px;
}
#form1 p {
  font-size: 18px;
  font-weight: bold;
}

#btnBack {
  background: linear-gradient(to top right, #ff0066 0%, #ffcc66 100%);
  border-radius: 2px;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

/* Implementing the media query */

@media screen and (min-width: 300px) and (max-width: 480px) {
  .rows {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #searchBox {
    width: 100px;
    margin-left: 5px;
    font-size: 12px;
  }
  #navDiv a {
    margin: 0 10px;
  }
  #logo {
    width: 50px;
    margin-left: 0;
  }
  #home {
    font-size: 12px;
  }

  #btn,
  #logoutbtn {
    height: 2rem;
    width: 4rem;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }

  .movie {
    margin-left: 10%;
  }
  .moviedetails {
    display: none;
  }
  #userInfo {
    position: absolute;
    top: 0;
    left: 62%;
    margin-top: 0.8%;
  }

  #sec_Sect img {
    height: 20px;
    width: 25px;
  }
  #sec_Sect p {
    font-size: 8px;
  }
  #thrd_sec {
    padding: 2%;
  }
  #thrd_sec h3 {
    font-size: 11px;
  }
  #thrd_sec p {
    font-size: 10px;
  }
  #thrd_sec > div > div:last-child {
    margin-top: 37%;
  }
  #social-apps img {
    height: 30px;
    width: 30px;
  }
  .copy1 {
    font-size: 10px;
  }
  .genre {
    font-size: 15px;
  }
  #form1 h1,
  #form1 h2 {
    font-size: 20px;
  }
  #form1 p {
    font-size: 12px;
    font-weight: bold;
  }
  .payment-container:nth-child(2) {
    display: none;
  }

  .payment-container:nth-child(1) {
    width: 100%;
  }

  .payment-main-container {
    width: 90%;
  }

  #form1 > :nth-child(3) > span {
    margin-left: 52%;
  }
  #form1 > :nth-child(5) > span {
    margin-left: 30%;
  }
  #form1 > :nth-child(7) > span {
    margin-left: 57%;
  }
  #noOfTicket {
    margin-left: 40%;
    width: 8%;
    height: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .rows {
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #logo {
    width: 40px;
  }

  #movieOverview {
    width: 70%;
    height: 450px;
  }
  .moviedetails h2 {
    font-size: 18px;
  }
  .moviedetails .rating {
    font-size: 12px;
  }
  .moviedetails > p:nth-child(3),
  .moviedetails > p:nth-child(4) {
    font-size: 12px;
  }
  .moviedetails > p:nth-child(5) {
    font-size: 13.8px;
  }
  #searchBox {
    width: 15rem;
    height: 3rem;
  }

  #navDiv a {
    margin-left: 0;
  }
  #userInfo {
    position: absolute;
    top: 0;
    left: 79%;
    margin-top: 0.8%;
  }
  #logoutbtn {
    margin-right: 3%;
  }
  #form1 > :nth-child(3) > span {
    margin-left: 61%;
  }
  #form1 > :nth-child(5) > span {
    margin-left: 45%;
  }
  #form1 > :nth-child(7) > span {
    margin-left: 65%;
  }
  #noOfTicket {
    margin-left: 52%;
    width: 8%;
    height: 5px;
  }

  #sec_Sect img {
    height: 45px;
    width: 45px;
  }
  #sec_Sect p {
    font-size: 10px;
  }
  #thrd_sec {
    padding: 2%;
  }
  #thrd_sec h3 {
    font-size: 12px;
  }
  #thrd_sec p {
    font-size: 12px;
  }
  #thrd_sec > div > div:last-child {
    margin-top: 20%;
  }
  #social-apps img {
    height: 52px;
  }
  .copy1 {
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1115px) {
  .rows {
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #logo {
    width: 40px;
  }

  #movieOverview {
    width: 70%;
  }
  #searchBox {
    width: 15rem;
    height: 3rem;
  }
  .rows > div > span:last-child {
    margin-left: 65%;
  }

  #navDiv a {
    margin-left: 0;
  }
  #userInfo {
    position: absolute;
    top: 0;
    left: 79%;
    margin-top: 0.8%;
  }
  #logoutbtn {
    margin-right: 3%;
  }
  #form1 > :nth-child(3) > span {
    margin-left: 61%;
  }
  #form1 > :nth-child(5) > span {
    margin-left: 45%;
  }
  #form1 > :nth-child(7) > span {
    margin-left: 65%;
  }
  #noOfTicket {
    margin-left: 52%;
    width: 8%;
    height: 5px;
  }

  #sec_Sect img {
    height: 40px;
    width: 40px;
  }
  #sec_Sect p {
    font-size: 10px;
  }
  #thrd_sec {
    padding: 2%;
  }
  #thrd_sec h3 {
    font-size: 12px;
  }
  #thrd_sec p {
    font-size: 10px;
  }
  #thrd_sec > div > div:last-child {
    margin-top: 25%;
  }
  #social-apps img {
    height: 55px;
    width: 55px;
  }
  .copy1 {
    font-size: 12px;
  }
}
